
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e802'; } /* '' */
.icon-child:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-emo-happy:before { content: '\e80c'; } /* '' */
.icon-emo-grin:before { content: '\e80d'; } /* '' */
.icon-emo-unhappy:before { content: '\e80e'; } /* '' */
.icon-emo-surprised:before { content: '\e80f'; } /* '' */
.icon-emo-thumbsup:before { content: '\e810'; } /* '' */
.icon-emo-tongue:before { content: '\e811'; } /* '' */
.icon-emo-cry:before { content: '\e812'; } /* '' */
.icon-ok-squared:before { content: '\e813'; } /* '' */
.icon-font:before { content: '\e814'; } /* '' */
.icon-bold:before { content: '\e815'; } /* '' */
.icon-italic:before { content: '\e816'; } /* '' */
.icon-underline:before { content: '\e817'; } /* '' */
.icon-align-justify:before { content: '\e818'; } /* '' */
.icon-align-right:before { content: '\e819'; } /* '' */
.icon-align-center:before { content: '\e81a'; } /* '' */
.icon-align-left:before { content: '\e81b'; } /* '' */
.icon-header:before { content: '\e81c'; } /* '' */
.icon-pencil:before { content: '\e81d'; } /* '' */
.icon-picture:before { content: '\e81e'; } /* '' */
.icon-tint:before { content: '\e81f'; } /* '' */
.icon-text-height:before { content: '\e820'; } /* '' */
.icon-text-width:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-magic:before { content: '\e823'; } /* '' */